 .u-section-1 {
  background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 168px;
}

.u-section-1 .u-group-1 {
  min-height: 154px;
  height: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 514px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 370px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 370px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  margin: 32px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1907px;
}

.u-section-3 .u-group-1 {
  width: 692px;
  min-height: 197px;
  height: auto;
  margin: 28px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 63px 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -33px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 715px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-3 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("../images/jesus.jpg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 14px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 34px 7px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 715px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-2 {
  width: 213px;
  height: 213px;
  background-image: url("../images/fernan.jpg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 34px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 715px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-3 .u-image-3 {
  width: 213px;
  height: 213px;
  background-image: url("../images/j.jpg");
  background-position: 50% 0%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 0 0 14px;
}

.u-section-3 .u-text-7 {
  margin: 34px 14px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 1000px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-4 {
  width: 213px;
  height: 213px;
  background-image: url("../images/johan.jpg");
  background-position: 50% 0%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 34px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 1000px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-5 {
  width: 213px;
  height: 213px;
  background-image: url("../images/daniel.jpg");
  background-position: 50% 0%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 34px 0 0;
}


.u-section-3 .u-layout-cell-6 {
  min-height: 1000px;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-3 .u-image-6 {
  width: 213px;
  height: 213px;
  background-image: url("../images/elkin.jpg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-3 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 14px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 34px 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -12px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 825px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-8 {
    position: relative;
  }

  .u-section-3 .u-text-9 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 825px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-10 {
    position: relative;
  }

  .u-section-3 .u-text-11 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 825px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-12 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 201px;
    height: 201px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 187px;
    height: 187px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 201px;
    height: 201px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 187px;
    height: 187px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-image-5 {
    width: 187px;
    height: 187px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 201px;
    height: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2178px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 1px;
    padding-right: 1px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 684px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  background-image: url("../images/wallpaperflare.com_wallpaper1.jpg");
  min-height: 520px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-weight: 900;
    width: auto;
    margin-top: 99px;
    margin-right: 128px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 81px;
    width: NaNpx;
  }

  .u-section-4 .u-text-2 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 178px;
    margin-right: 38px;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
    margin-right: 0;
    width: NaNpx;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 412px;
}

.u-section-5 .u-group-1 {
  width: 639px;
  min-height: 332px;
  height: auto;
  margin: 40px auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 526px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-5 .u-group-1 {
    width: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2806px;
  }

  .u-section-5 .u-group-1 {
    width: 378px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-5 .u-group-1 {
    width: 318px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 541px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-6 .u-image-1 {
  min-height: 461px;
  background-image: url("../images/g1.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-image-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 291px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 437px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-6 .u-image-1 {
    min-height: 275px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 615px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 40px 11px 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  margin: 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 782px;
}

.u-section-8 .u-gallery-1 {
  height: 772px;
  grid-gap: 17px 17px;
  width: 679px;
  margin: 0 auto 10px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-1 {
    width: 540px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-gallery-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 412px;
}

.u-section-9 .u-group-1 {
  width: 639px;
  min-height: 332px;
  height: auto;
  margin: 40px auto;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 526px;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    position: relative;
  }

  .u-section-9 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-9 .u-group-1 {
    width: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2806px;
  }

  .u-section-9 .u-group-1 {
    width: 378px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-9 .u-group-1 {
    width: 318px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1490px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-10 .u-gallery-1 {
  height: 1191px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-10 .u-gallery-item-1 {
  --effect-scale: 3.25;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-10 .u-gallery-1 {
    height: 982px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-10 .u-gallery-1 {
    height: 752px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2669px;
  }

  .u-section-10 .u-gallery-1 {
    height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-10 .u-gallery-1 {
    height: 355px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 514px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 82px auto 82px 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-11 .u-container-layout-1 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 243px 0 0;
}

.u-section-11 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 370px;
}

.u-section-11 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-11 .u-text-3 {
  margin: 81px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-11 .u-text-2 {
    margin-bottom: 25px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }
}

